# это корневой файл настроен для всего проекта
# root = true
# Правка для всех файлов (*)
[*]
# использовать кодтровку UTF-8

charset = utf-8
# использовать пробелы для отступов
indent_style = space
# размер отступа: 4 пробела
indent_size = 4
# тип переноса строки: LF (стандарт для Linux/macOS и Git)
end_of_line = lf
# удалять лишние пробелы в конце строк
trim_tralling_whitespace = true
# добавлять пустую строку в конце файла
